@model Subscribe
<div class="site page-content">
    <div class="breadcrumb-contact-us breadcrumb-section section-box">
        <div class="container breadcrumb-inner">
            <h1 class="heading_primary">Home</h1>
            <div class="breadcrumbs-wrapper">
                <ul class="phys-breadcrumb">
                    <li><a href="index.html" class="home">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="home-content" role="main">

        <div class="container heading-product">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="heading-title"># featured products</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <!--product-->
        <div class="container">
            <div class="wc-sc-product woocommerce featured-layout-1">
                <div class="inner-sc-product">
                    <ul class="products columns-4">
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <span class="onsale">Sale</span>
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/product16.jpg" alt="">
                                        <img src="images/product/product15.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">
                                            Weaver hat
                                            v2
                                        </a>
                                    </h2>
                                    <span class="price">
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>40
                                            </span>
                                        </del> <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>35
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/product15.jpg" alt="">
                                        <img src="images/product/product16.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Weaver hat v2</a>
                                    </h2>
                                    <span class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>115
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/Rose-short.jpg" alt="">
                                        <img src="images/product/Pastel-Jogger.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Rose Short</a>
                                    </h2>
                                    <span class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>115
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/sneaker3.jpg" alt="">
                                        <img src="images/product/sneaker.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Sneaker v2</a>
                                    </h2>
                                    <span class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>60
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <span class="onsale">Sale</span>
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/Money-shirt.jpg" alt="">
                                        <img src="images/product/Lunatic-shirt.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Money shirt</a>
                                    </h2>
                                    <span class="price">
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>60
                                            </span>
                                        </del> <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>40
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/sneaker5.jpg" alt="">
                                        <img src="images/product/sneaker6.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Sneaker v3</a>
                                    </h2>
                                    <span class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>60
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/sneaker1.jpg" alt="">
                                        <img src="images/product/sneaker4.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Sneaker v4</a>
                                    </h2>
                                    <span class="price">
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">$</span>60
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="inner-item-product">
                                <div class="product-image">
                                    <span class="onsale">Sale</span>
                                    <a href="simple-product.html" class="wp-post-image">
                                        <img src="images/product/sneaker.jpg" alt="">
                                        <img src="images/product/sneaker6.jpg" class="product-change-images" alt="">
                                    </a>
                                    <div class="box-hover">
                                        <a href="javascript:void(0)" class="quick-view" data-toggle="modal" data-target="#quickview">

                                        </a>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="#" class="add_to_wishlist single_add_to_wishlist">
                                            </a>
                                        </div>
                                        <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"></a>
                                    </div>
                                </div>
                                <div class="wrapper-content-item">
                                    <h2 class="woocommerce-loop-product_title">
                                        <a href="simple-product.html">Sneaker v1</a>
                                    </h2>
                                    <span class="price">
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>60
                                            </span>
                                        </del> <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>55
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end product-->
        <!--banner-->
        <div class="banner-hp-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12">
                        <div class="banner-hp-1-content banner-hp-1-left">
                            <div>
                                <h2 class="heading-title">Summer Sale</h2>
                            </div>
                            <a href="#">
                                <span class="button-text">shop now</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="banner-hp-1-content banner-hp-1-right">
                            <div>
                                <h2 class="heading-title"> new footwear collection</h2>
                            </div>
                            <a href="#">
                                <span class="button-text">view detail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end banner-->
        <!--partner-->
        <div class="partner">
            <div class="owl-carousel owl-theme partner-content">
                <div class="item">
                    <img src="images/brand/brand1_1.png" alt="">
                </div>
                <div class="item">
                    <img src="images/brand/brand2.png" alt="">
                </div>
                <div class="item">
                    <img src="images/brand/brand3.png" alt="">
                </div>
                <div class="item">
                    <img src="images/brand/brand4_1.png" alt="">
                </div>
                <div class="item">
                    <img src="images/brand/brand5.png" alt="">
                </div>
                <div class="item">
                    <img src="images/brand/brand6.png" alt="">
                </div>
            </div>
        </div>
        <!--end partner-->
        <div class="video-container">

            <button type="button" class="btn" data-toggle="modal" data-target="#video-modal">
                <img src="images/banner/play.png" alt="">
            </button>
            <!-- Modal -->
            <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="video-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe src="https://www.youtube.com/embed/ryLKJXHwKQ0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container heading-blog">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-12">
                    <h2 class="heading-title"># latest from new</h2>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <!--blog-->
        <div class="container">
            <div class="sc-list-posts sc-posts-layout_2">
                <div class="row inner-list-posts">
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog2.jpg" alt="Fashion today">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html" rel="bookmark" tabindex="0">Fashion today</a>
                                </h4>
                                <div class="date">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog11.jpg" alt="Make your style">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Make your style</a>
                                </h4>
                                <div class="date">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog10.jpg" alt="Fashion don’t need to talk">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Fashion don’t need to talk</a>
                                </h4>
                                <div class="date">
                                    <div class="time">
                                        17 - October - 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog2.jpg" alt="Fashion today">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html" rel="bookmark" tabindex="0">Fashion today</a>
                                </h4>
                                <div class="date">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog11.jpg" alt="Make your style">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Make your style</a>
                                </h4>
                                <div class="date">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gird-item">
                        <div class="news-details">
                            <div class="post-formats-wrapper">
                                <a href="blog-single.html">
                                    <img src="images/blog/blog10.jpg" alt="Fashion don’t need to talk">
                                </a>
                            </div>
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="blog-single.html">Fashion don’t need to talk</a>
                                </h4>
                                <div class="date">
                                    <div class="time">
                                        17 - October - 2019
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end blog-->
        <!--subribe-testimonials-->
        <div class="subcribe-testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="testimonials-hp-azen">
                            <div class="testimonials-content">
                                <div class="sc-testimonials owl-carousel owl-loaded owl-drag owl-theme">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage">
                                            <div class="owl-item">
                                                <div class="item">
                                                    <div class="testimonials-detail">
                                                        <i class="fa fa-quote-left "></i>
                                                        <p>
                                                            This is my first time to consult in this hospital and I’m lucky I got a perfect doctor who takes care of me since day one of my consultation, until the day of my surgery.
                                                        </p>
                                                        <h5>
                                                            BY<a href="#"> Clara</a>
                                                        </h5>
                                                        <span class="regency"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item">
                                                <div class="item">
                                                    <div class="testimonials-detail">
                                                        <i class="fa fa-quote-left "></i>
                                                        <p>
                                                            This is my first time to consult in this hospital and I’m lucky I got a perfect doctor who takes care of me since day one of my consultation, until the day of my surgery.
                                                        </p>
                                                        <h5>
                                                            BY<a href="#"> Jessica</a>
                                                        </h5>
                                                        <span class="regency"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item">
                                                <div class="item">
                                                    <div class="testimonials-detail">
                                                        <i class="fa fa-quote-left "></i>
                                                        <p>
                                                            This is my first time to consult in this hospital and I’m lucky I got a perfect doctor who takes care of me since day one of my consultation, until the day of my surgery.
                                                        </p>
                                                        <h5>
                                                            BY<a href="#"> John Doe</a>
                                                        </h5>
                                                        <span class="regency"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="bg-newletter-hp1 ">
                            <div id="content-letter-hp">
                                <div class="title-heading-product">
                                    <h2># Subscribe for new letter</h2>
                                </div>
                                <div class=" title-content-heading-product ">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                </div>
                                <div class="letter-homepage1 ">
                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-7" method="post" data-id="7" asp-controller="home" asp-action="Subscribe">
                                        <div class="mc4wp-form-fields">
                                            <p>
                                                <input class="email" name="email" placeholder="Your email...">
                                                <input type="submit" class="submit" id="submitBtn" value="subscribe">
                                                <div class="alert alert-success" style="display:none"></div>
                                                <div class="alert alert-warning" style="display:none"></div>
                                            </p>
                                        </div>
                                        <div class="mc4wp-response"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end subribe-testimonials-->
    </div>
</div>