
<div class="site page-content">
    <div class="breadcrumb-contact-us breadcrumb-section section-box">
        <div class="container breadcrumb-inner">
            <h1 class="heading_primary">About Us</h1>
            <div class="breadcrumbs-wrapper">
                <ul class="phys-breadcrumb">
                    <li><a href="index.html" class="home">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-area no-padding-bottom">
        <div class="site-main full-width">
            <div class="intro-hp4 intro-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 offset-lg-1 col-md-6 col-12">
                            <div class="elementor-image">
                                <img src="images/banner/banner.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="content-intro-hp4">
                                <h2 class="heading-title">
                                    # you can have anything you want in life if you dress for
                                    it
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit,
                                    sed do eiusmod tempor
                                    incididunt ut sunbu labore
                                    et dolore magna aliqua.
                                </p>
                                <p>
                                    Sed ut perspiciatis unde
                                    omnis iste natus error sit
                                    voluptatem accusantium
                                    doloremque laudantium, totam
                                    rem aperiam, eaque ipsa quae
                                    ab illo inventore veritatis
                                    et quasi architecto
                                </p>
                                <a href="#">
                                    <span class="elementor-button-text">star now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-container video-about">
                <button type="button" class="btn" data-toggle="modal" data-target="#video-modal">
                    <img src="images/banner/play.png" alt="">
                </button>
                <!-- Modal -->
                <div class="modal fade" id="video-modal" tabindex="-1" role="dialog"
                     aria-labelledby="video-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <iframe src="https://www.youtube.com/embed/ryLKJXHwKQ0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--partner-->
            <div class="partner">
                <div class="owl-carousel owl-theme partner-content">
                    <div class="item">
                        <img src="images/brand/brand1_1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/brand/brand2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/brand/brand3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/brand/brand4_1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/brand/brand5.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/brand/brand6.png" alt="">
                    </div>
                </div>
            </div>
            <!--end partner-->
            <div class="container heading-blog">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <h2 class="heading-title"> # our team</h2>
                    </div>
                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <!--our team-->
            <div class="container">
                <div class="ourteam-1">
                    <div class="ourteam-content">
                        <div class="sc-ourteam owl-carousel owl-theme ">
                            <div class="item">
                                <div class="images">
                                    <img src="images/outeam/author3.jpg"
                                         class="attachment-full size-full" alt="">
                                </div>
                                <a href="#">
                                    <h5>Brett Aguilar</h5>
                                </a>
                                <span class="regency">co-founder</span>
                            </div>
                            <div class="item">
                                <div class="images">
                                    <img src="images/outeam/author2.jpg"
                                         class="attachment-full size-full" alt="">
                                </div>
                                <a href="#">
                                    <h5>Irvin Walton</h5>
                                </a>
                                <span class="regency">Stylist</span>
                            </div>
                            <div class="item">
                                <div class="images">
                                    <img src="images/outeam/author1.jpg"
                                         class="attachment-full size-full" alt="">
                                </div>
                                <a href="#">
                                    <h5>Kathy Tucker</h5>
                                </a>
                                <span class="regency">sale manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end our team-->
            <!--subribe-testimonials-->
            <div class="subcribe-testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="testimonials-hp-azen">
                                <div class="testimonials-content">
                                    <div class="sc-testimonials owl-carousel owl-loaded owl-drag owl-theme">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage">
                                                <div class="owl-item">
                                                    <div class="item">
                                                        <div class="testimonials-detail">
                                                            <i class="fa fa-quote-left "></i>
                                                            <p>
                                                                This is my first time to consult in this hospital
                                                                and
                                                                I’m
                                                                lucky I got
                                                                a perfect doctor who takes care of me since day one
                                                                of
                                                                my
                                                                consultation, until the day of my surgery.
                                                            </p>
                                                            <h5>
                                                                BY<a href="#"> Clara</a>
                                                            </h5>
                                                            <span class="regency"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="item">
                                                        <div class="testimonials-detail">
                                                            <i class="fa fa-quote-left "></i>
                                                            <p>
                                                                This is my first time to consult in this hospital
                                                                and
                                                                I’m
                                                                lucky I got
                                                                a perfect doctor who takes care of me since day one
                                                                of
                                                                my
                                                                consultation, until the day of my surgery.
                                                            </p>
                                                            <h5>
                                                                BY<a href="#"> Jessica</a>
                                                            </h5>
                                                            <span class="regency"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-item">
                                                    <div class="item">
                                                        <div class="testimonials-detail">
                                                            <i class="fa fa-quote-left "></i>
                                                            <p>
                                                                This is my first time to consult in this hospital
                                                                and
                                                                I’m
                                                                lucky I got
                                                                a perfect doctor who takes care of me since day one
                                                                of
                                                                my
                                                                consultation, until the day of my surgery.
                                                            </p>
                                                            <h5>
                                                                BY<a href="#"> John Doe</a>
                                                            </h5>
                                                            <span class="regency"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="bg-newletter-hp1 ">
                                <div id="content-letter-hp">
                                    <div class="title-heading-product">
                                        <h2># Subscribe for new letter</h2>
                                    </div>
                                    <div class=" title-content-heading-product ">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                                            luctus
                                            nec ullamcorper mattis, pulvinar dapibus leo.
                                        </p>
                                    </div>
                                    <div class="letter-homepage1 ">
                                        <form id="mc4wp-form-1"
                                              class="mc4wp-form mc4wp-form-7"
                                              method="post"
                                              data-id="7"
                                              data-name="">
                                            <div class="mc4wp-form-fields">
                                                <p>
                                                    <input type="email" class="email" name="EMAIL"
                                                           placeholder="Your email..."
                                                           required="">
                                                    <input type="submit" class="submit" value="subscribe">
                                                </p>
                                            </div>
                                            <div class="mc4wp-response"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end subribe-testimonials-->
        </div>

    </div>
</div>