<div class="site page-content">
    <div class="breadcrumb-contact-us breadcrumb-section section-box">
        <div class="container breadcrumb-inner">
            <h1 class="heading_primary">About Us</h1>
            <div class="breadcrumbs-wrapper">
                <ul class="phys-breadcrumb">
                    <li><a href="index.html" class="home">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="FAQ">
                        <div class="content">
                            <h3># SHIPPING INFORMATION</h3>
                            <div class="card">
                                <div class="card-header" id="heading-1">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-1" class="collapse" aria-labelledby="heading-1">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-2">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-3">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h3># PAYMENT INFORMATION</h3>
                            <div class="card">
                                <div class="card-header" id="heading-4">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-5">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-6">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-6" class="collapse" aria-labelledby="heading-6">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h3># ORDERS AND RETURNS</h3>
                            <div class="card">
                                <div class="card-header" id="heading-7">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-7" class="collapse" aria-labelledby="heading-7">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-8">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-8" class="collapse" aria-labelledby="heading-8">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-9">
                                    <h5>
                                        <a data-toggle="collapse" href="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
                                            Example open and close
                                            <span class="float-right"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-9" class="collapse" aria-labelledby="heading-9">
                                    <div class="card-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque asperiores sapiente aut debitis nulla accusantium odit voluptate minima eos quia animi numquam quo atque, saepe autem tempora, reprehenderit facere?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="contact-faq">
                        <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                            <p>still have question ?</p>
                            <p>
                                <label>
                                    <span class="wpcf7-form-control-wrap your-name">
                                        <input type="text" name="your-name" value="Your name" size="40"
                                               class="wpcf7-form-control wpcf7-text"
                                               aria-invalid="false">
                                    </span>
                                </label>
                                <br>
                                <label>
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input type="email" name="your-email" value="Your email" size="40"
                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                               aria-required="true" aria-invalid="false">
                                    </span>
                                </label>
                                <br>
                                <label class="your-question">
                                    <span class="wpcf7-form-control-wrap your-question">
                                        <textarea name="your-question"
                                                  cols="40" rows="10"
                                                  class="wpcf7-form-control wpcf7-textarea"
                                                  aria-invalid="false">Your question</textarea>
                                    </span>
                                </label>
                                <br>
                                <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader">

                                </span>
                            </p>
                        </form>
                    </div>
                    <img src="images/banner/banner-faq.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>